.app {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  /* background: linear-gradient(#000000, #7c17a8); */
  color: white;
  position: relative;
  background: linear-gradient(180deg, #000000, #7c17a8);
  
}

