.Reset__main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

  box-sizing: border-box;
  transition: all 0.2s ease-in;
}
.Reset__main > .Reset__card {
  height: 100%;
  width: 85%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Reset__main > .Reset__card > .Reset__leftCont {
  border-radius: 32px 0px 0px 32px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 65%;
  height: 100%;
  padding: 12px 32px;
  transition: all 0.3s ease;
  background-color: rgba(10, 10, 17, 0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.Reset__main > .Reset__card > .Reset__leftCont > h2 {
  font-size: 40px;
  text-shadow: 0 0 10px rgb(200 212 255 / 69%), 0 0 10px rgb(200 212 255 / 25%);
}

.Reset__main > .Reset__card > .Reset__leftCont > .Reset__form {
  margin: 22px 0px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* -------------------------------------------------------------------------------- */

/* Right container */
.Reset__main > .Reset__card > .Reset__rightCont {
  border-radius: 0px 32px 32px 0px;
  box-sizing: border-box;
  transition: all 0.3s ease;

  color: white;
  width: 35%;
  height: 100%;

  background-color: #18181f;
  background-position: center center;
  background-size: cover;
}

.Reset__main .Reset__gradientBtn {
  font-size: 23px;
  margin: 0px 0px;
  padding: 7px 32px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50px;

  color: white;
  border: none;
  outline: none;
  background-color: rgba(27, 27, 27, 0.8);
  box-shadow: 2px 3px 10px rgb(0, 0, 0),
    -0.5px -1.5px 6px rgba(97, 102, 107, 0.5);
}
.Reset__main .Reset__gradientBtn:hover {
  box-shadow: inset 2px 3px 10px rgb(0, 0, 0),
    inset -0.5px -1.5px 6px rgba(97, 102, 107, 0.5);
}

.Reset__main .Reset__neumorphicInput {
  color: white;
  font-size: 20px;
  font-weight: 300;

  width: 100%;
  margin: 10px 0px;
  padding: 12px 37px;
  transition: all 0.3s ease;

  border-radius: 50px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: rgba(27, 27, 27, 0.8);
  box-shadow: inset 2px 3px 10px rgb(0, 0, 0),
    inset -0.5px -1.5px 6px rgba(97, 102, 107, 0.5);
}

.Reset__main .Reset__grayText {
  margin-top: 20px;
  color: #3d3d3d;
  font-size: 15px;
}
.Reset__main.Reset__link {
  color: #464646;
  font-size: 15px;
  font-size: 15px;
  font-weight: 500;

  background: linear-gradient(to right, rgb(0, 128, 255), rgb(177, 162, 204));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Reset__main .Reset__flexRowBetween > .Reset__neumorphicInput {
  width: 49%;
}
